<template>
        <div>
            <%- include('./form.ejs', {data: data}); %>
        </div>
    </template>
    
    <script>
    export default {
        name: '',
        data() {
            return {}
        },
        methods: {},
        created() {},
        mounted() {}
    }
    </script>
    
    <style lang="scss" scoped>
    </style>